<p>Email 地址验证</p>
<p>这封信是由 TYMT 发送的。
您收到这封邮件，是由于在 TYMT 进行了新用户注册，或用户修改 Email 使用 了这个邮箱地址。如果您并没有访问过 TYMT，或没有进行上述操作，请忽 略这封邮件。您不需要退订或进行其他进一步的操作。
</p>
<p>----------------------------------------------------------------------
帐号激活说明
----------------------------------------------------------------------</p>
<p>如果您是 TYMT 的新用户，或在修改您的注册 Email 时使用了本地址，我们需 要对您的地址有效性进行验证以避免垃圾邮件或地址被滥用。
您只需点击下面的链接即可激活您的帐号：</p>
<p><a href="{{ confirm_url }}">{{ confirm_url }}</a></p><br>
<p>(如果上面不是链接形式，请将该地址手工粘贴到浏览器地址栏再访问)
感谢您的访问，祝您使用愉快！</p>
<p>此致
游侠NETSHOW论坛 管理团队.
http://game.ali213.net/</p>
