{% extends "base.html" %}

{% block title %}TYMT{% endblock %}

{% block page_content %}

<div class="breadcrumb-area">
			<div class="container">
				<ol class="breadcrumb">
				  <li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
				  <li class="active">My Designers</li>
				</ol>
			</div>
		</div>

<div class = "container">
{% include "company_side.html" %}

<div class="account-area pt-30 log" style="width: 102%;margin-bottom: 30px;">
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-lg-9 col-sm-9 ">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="home">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-product mb-30  white-bg">
                  <div class="product-img pt-20">
                    <a href="#"><img src="/static/img/product/1.jpg" alt="" /></a>
                  </div>
                  <div class="product-content product-i">
                    <div class="pro-title">
                      <h4><a href="product-details.html">Moebius Table</a></h4>
                    </div>
                    <div class="pro-rating ">
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star-o"></i></a>
                    </div>
                    <div class="price-box">
                      <span class="price product-price">$400.00</span>
                    </div>
                    <div class="product-icon">
                      <div class="product-icon-left f-left">
                        <a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                      </div>
                      <div class="product-icon-right floatright">
                        <a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
                        <a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
                      </div>
                    </div>
                  </div>
                  <span class="new">new</span>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-product mb-30  white-bg">
                  <div class="product-img pt-20">
                    <a href="#"><img src="/static/img/product/3.jpg" alt="" /></a>
                  </div>
                  <div class="product-content product-i">
                    <div class="pro-title">
                      <h4><a href="product-details.html">Moebius Table</a></h4>
                    </div>
                    <div class="pro-rating ">
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star-o"></i></a>
                    </div>
                    <div class="price-box">
                      <span class="price product-price">$400.00</span>
                    </div>
                    <div class="product-icon">
                      <div class="product-icon-left f-left">
                        <a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                      </div>
                      <div class="product-icon-right floatright">
                        <a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
                        <a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
                      </div>
                    </div>
                  </div>
                  <span class="new">new</span>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-product mb-30 white-bg">
                  <div class="product-img pt-20">
                    <a href="#"><img src="/static/img/product/4.jpg" alt="" /></a>
                  </div>
                  <div class="product-content product-i">
                    <div class="pro-title">
                      <h4><a href="product-details.html">Moebius Table</a></h4>
                    </div>
                    <div class="pro-rating ">
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star-o"></i></a>
                    </div>
                    <div class="price-box">
                      <span class="price product-price">$400.00</span>
                    </div>
                    <div class="product-icon">
                      <div class="product-icon-left f-left">
                        <a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                      </div>
                      <div class="product-icon-right floatright">
                        <a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
                        <a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
                      </div>
                    </div>
                  </div>
                  <span class="new">new</span>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-product mb-30  white-bg">
                  <div class="product-img pt-20">
                    <a href="#"><img src="/static/img/product/5.jpg" alt="" /></a>
                  </div>
                  <div class="product-content product-i">
                    <div class="pro-title">
                      <h4><a href="product-details.html">Moebius Table</a></h4>
                    </div>
                    <div class="pro-rating ">
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star-o"></i></a>
                    </div>
                    <div class="price-box">
                      <span class="price product-price">$400.00</span>
                    </div>
                    <div class="product-icon">
                      <div class="product-icon-left f-left">
                        <a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                      </div>
                      <div class="product-icon-right floatright">
                        <a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
                        <a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
                      </div>
                    </div>
                  </div>
                  <span class="new">new</span>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-product mb-30 white-bg">
                  <div class="product-img pt-20">
                    <a href="#"><img src="/static/img/product/6.jpg" alt="" /></a>
                  </div>
                  <div class="product-content product-i">
                    <div class="pro-title">
                      <h4><a href="product-details.html">Moebius Table</a></h4>
                    </div>
                    <div class="pro-rating ">
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star-o"></i></a>
                    </div>
                    <div class="price-box">
                      <span class="price product-price">$400.00</span>
                    </div>
                    <div class="product-icon">
                      <div class="product-icon-left f-left">
                        <a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                      </div>
                      <div class="product-icon-right floatright">
                        <a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
                        <a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
                      </div>
                    </div>
                  </div>
                  <span class="new">new</span>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-product mb-30 white-bg">
                  <div class="product-img pt-20">
                    <a href="#"><img src="/static/img/product/7.jpg" alt="" /></a>
                  </div>
                  <div class="product-content product-i">
                    <div class="pro-title">
                      <h4><a href="product-details.html">Moebius Table</a></h4>
                    </div>
                    <div class="pro-rating ">
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star-o"></i></a>
                    </div>
                    <div class="price-box">
                      <span class="price product-price">$400.00</span>
                    </div>
                    <div class="product-icon">
                      <div class="product-icon-left f-left">
                        <a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                      </div>
                      <div class="product-icon-right floatright">
                        <a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
                        <a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
                      </div>
                    </div>
                  </div>
                  <span class="new">new</span>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-product mb-30 white-bg">
                  <div class="product-img pt-20">
                    <a href="#"><img src="/static/img/product/9.jpg" alt="" /></a>
                  </div>
                  <div class="product-content product-i">
                    <div class="pro-title">
                      <h4><a href="product-details.html">Moebius Table</a></h4>
                    </div>
                    <div class="pro-rating ">
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star-o"></i></a>
                    </div>
                    <div class="price-box">
                      <span class="price product-price">$400.00</span>
                    </div>
                    <div class="product-icon">
                      <div class="product-icon-left f-left">
                        <a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                      </div>
                      <div class="product-icon-right floatright">
                        <a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
                        <a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
                      </div>
                    </div>
                  </div>
                  <span class="new">new</span>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-product mb-30 white-bg">
                  <div class="product-img pt-20">
                    <a href="#"><img src="/static/img/product/9.jpg" alt="" /></a>
                  </div>
                  <div class="product-content product-i">
                    <div class="pro-title">
                      <h4><a href="product-details.html">Moebius Table</a></h4>
                    </div>
                    <div class="pro-rating ">
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star-o"></i></a>
                    </div>
                    <div class="price-box">
                      <span class="price product-price">$400.00</span>
                    </div>
                    <div class="product-icon">
                      <div class="product-icon-left f-left">
                        <a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                      </div>
                      <div class="product-icon-right floatright">
                        <a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
                        <a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
                      </div>
                    </div>
                  </div>
                  <span class="new">new</span>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-product mb-30 white-bg">
                  <div class="product-img pt-20">
                    <a href="#"><img src="/static/img/product/10.jpg" alt="" /></a>
                  </div>
                  <div class="product-content product-i">
                    <div class="pro-title">
                      <h4><a href="product-details.html">Moebius Table</a></h4>
                    </div>
                    <div class="pro-rating ">
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star-o"></i></a>
                    </div>
                    <div class="price-box">
                      <span class="price product-price">$400.00</span>
                    </div>
                    <div class="product-icon">
                      <div class="product-icon-left f-left">
                        <a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                      </div>
                      <div class="product-icon-right floatright">
                        <a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
                        <a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
                      </div>
                    </div>
                  </div>
                  <span class="new">new</span>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-product mb-30 white-bg">
                  <div class="product-img pt-20">
                    <a href="#"><img src="/static/img/product/11.jpg" alt="" /></a>
                  </div>
                  <div class="product-content product-i">
                    <div class="pro-title">
                      <h4><a href="product-details.html">Moebius Table</a></h4>
                    </div>
                    <div class="pro-rating ">
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star-o"></i></a>
                    </div>
                    <div class="price-box">
                      <span class="price product-price">$400.00</span>
                    </div>
                    <div class="product-icon">
                      <div class="product-icon-left f-left">
                        <a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                      </div>
                      <div class="product-icon-right floatright">
                        <a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
                        <a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
                      </div>
                    </div>
                  </div>
                  <span class="new">new</span>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-product mb-30 white-bg">
                  <div class="product-img pt-20">
                    <a href="#"><img src="/static/img/product/11.jpg" alt="" /></a>
                  </div>
                  <div class="product-content product-i">
                    <div class="pro-title">
                      <h4><a href="product-details.html">Moebius Table</a></h4>
                    </div>
                    <div class="pro-rating ">
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star-o"></i></a>
                    </div>
                    <div class="price-box">
                      <span class="price product-price">$400.00</span>
                    </div>
                    <div class="product-icon">
                      <div class="product-icon-left f-left">
                        <a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                      </div>
                      <div class="product-icon-right floatright">
                        <a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
                        <a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
                      </div>
                    </div>
                  </div>
                  <span class="new">new</span>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-product mb-30 white-bg">
                  <div class="product-img pt-20">
                    <a href="#"><img src="/static/img/product/2.jpg" alt="" /></a>
                  </div>
                  <div class="product-content product-i">
                    <div class="pro-title">
                      <h4><a href="product-details.html">Moebius Table</a></h4>
                    </div>
                    <div class="pro-rating ">
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star"></i></a>
                      <a href="#"><i class="fa fa-star-o"></i></a>
                    </div>
                    <div class="price-box">
                      <span class="price product-price">$400.00</span>
                    </div>
                    <div class="product-icon">
                      <div class="product-icon-left f-left">
                        <a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                      </div>
                      <div class="product-icon-right floatright">
                        <a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
                        <a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
                      </div>
                    </div>
                  </div>
                  <span class="new">new</span>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="content-sortpagibar">
          <div class="product-count display-inline">Showing 1 - 12 of 13 items</div>
          <ul class="shop-pagi display-inline">
            <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
          </ul>
        </div>

			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}
