
<nav class="navbar navbar-side col-lg-3 col-md-3 col-sm-6 col-xs-12 homepage_side"  role="navigation">

    <div class="sidebar-collapse">

        <ul class="nav" id="main-menu">
            <li>
            <a href="#"> &nbsp;&nbsp;MY VERIFICATION</a>
            </li>
            <li>
            <a href="#"> &nbsp;&nbsp;MY ORDER</a>
            </li>
            <li>
            <a href="#"> &nbsp;&nbsp;MY ADVERTISIMENT</a>
            </li>

            <li>
            <a href=""> &nbsp;&nbsp;MY MERCHANDISE</a>
            </li>

            <li>
            <a href="#"> &nbsp;&nbsp;MY DESIGNER</a>
            </li>

        </ul>

    </div>
</nav>
