
<nav class="navbar navbar-side col-lg-3 col-md-3 col-sm-6 col-xs-12 homepage_side"  style=" padding: 0px 0px 0px 0px;"role="navigation">

    <div class="sidebar-collapse">

        <ul class="nav" id="main-menu">
            <li style="border-right: 1px solid rgba(240, 240, 240, 1)">
            <a href="{{url_for('company.company_verify') }}"> &nbsp;&nbsp;MY VERIFICATION</a>
            </li>
            <li style="border-right: 1px solid rgba(240, 240, 240, 1)">
            <a href="{{url_for('company.company_orders') }}"> &nbsp;&nbsp;MY ORDER</a>
            </li>
            <li style="border-right: 1px solid rgba(240, 240, 240, 1)">
            <a href="#"> &nbsp;&nbsp;MY ADVERTISIMENT</a>
            </li>

            <li style="border-right: 1px solid rgba(240, 240, 240, 1)">
            <a href="{{url_for('company.company_furniture_list') }}"> &nbsp;&nbsp;MY MERCHANDISE</a>
            </li>

            <li style="border-right: 1px solid rgba(240, 240, 240, 1)">
            <a href="{{url_for('company.company_my_designer') }}"> &nbsp;&nbsp;MY DESIGNER</a>
            </li>

        </ul>

    </div>
</nav>
