
<nav class="navbar navbar-side col-lg-3 col-md-3 col-sm-6 col-xs-12"  role="navigation">
            
    <div class="sidebar-collapse">
        
        <ul class="nav" id="main-menu">
            <li>
            <a href="consumer/cart" id = "mycart"> &nbsp;&nbsp;MY CART </a>
            </li>
            <li>
            <a href="#" id = "command"> &nbsp;&nbsp;MY COMMAND</a>
            </li>
            <li>
            <a href="#" id = "profile"> &nbsp;&nbsp;MY PROFILE</a>
            </li>
            
            <li>
            <a href="consumer/orders" id = "myorder"> &nbsp;&nbsp;MY ORDER</a>
                
            </li>
            
            <li>
            <a href="#"> &nbsp;&nbsp;MY REFUND</a>
            </li>
            
        </ul>

    </div>
</nav>
