
<nav class="navbar navbar-side col-lg-3 col-md-3 col-sm-6 col-xs-12 homepage_side"  style=" padding: 0px 0px 0px 0px;" role="navigation">

    <div class="sidebar-collapse">

        <ul class="nav" id="main-menu">
            <li>
            <a href="{{url_for('consumer.consumer_cart') }}" id = "mycart"> &nbsp;&nbsp;MY CART </a>
            </li>
            <li>
            <a href="{{url_for('consumer.consumer_decoration') }}" id = "decoration"> &nbsp;&nbsp;MY DECORATION</a>
            </li>
            <li>
            <a href="{{url_for('consumer.consumer_change_info') }}" id = "ptofile"> &nbsp;&nbsp;MY PROFILE</a>
            </li>

            <li>
            <a href="{{url_for('consumer.consumer_orders') }}" id = "myorder"> &nbsp;&nbsp;MY ORDER</a>

            </li>

            <li>
            <a href=""> &nbsp;&nbsp;MY REFUND</a>
            </li>

        </ul>

    </div>
</nav>
