<nav class="navbar navbar-side col-lg-3 col-md-3 col-sm-6 col-xs-12 homepage_side"  style=" padding: 0px 0px 0px 0px;"role="navigation">

    <div class="sidebar-collapse">

        <ul class="nav" id="main-menu">
            <li style="border-right: 1px solid rgba(240, 240, 240, 1)">
            <a href="{{url_for('designer.designer_change_info') }}"> &nbsp;&nbsp;MY PROFILE</a>
            </li>
            <li style="border-right: 1px solid rgba(240, 240, 240, 1)">
            <a href="{{url_for('designer.designer_design_scheme') }}"> &nbsp;&nbsp;MY DESIGN</a>
            </li>
            <li style="border-right: 1px solid rgba(240, 240, 240, 1)">
            <a href="{{url_for('designer.designer_orders') }}"> &nbsp;&nbsp;MY ORDER</a>
            </li>

        </ul>

    </div>
</nav>
