<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Home</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" />
<!-- Place favicon.ico in the root directory -->
		
<!-- all css here -->
<!-- bootstrap.min.css -->
<!-- <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"> -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<!-- font-awesome.min.css -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
<!-- owl.carousel.css -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css') }}">
<!-- owl.carousel.css -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/meanmenu.min.css') }}">
<!-- shortcode/shortcodes.css -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/shortcode/shortcodes.css') }}">
<!-- nivo-slider.css -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/nivo-slider.css') }}">
<!-- style.css -->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<!-- responsive.css -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
<script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3.min.js') }}"></script>
</head>
<body>

 

<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- Add your site or application content here -->
<!-- header -->
<header>
	<!-- header-top-area-start -->
	<div class="header-top-area black-bg ptb-7 hidden-xs">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-4">
					<div class="header-top-left">
						<span><a href="#">Call us toll free:</a>(+1)866-550-3669</span>
					</div>
				</div>
				<div class="col-lg-9 col-md-9 col-sm-8">
					<div class="header-top-right">
						<ul>
							<li class="slide-toggle"><a href="#"><i class="fa fa-user"></i>我的账号</a>
								<ul class="show-toggle">
									<li><a href="#">登录</a></li>
									<li><a href="#">注册</a></li>	
								</ul>
							</li>
						</ul>
						
						<ul>
							<li class="slide-toggle-3 text-uppercase"><a href="#">用户帮助</a>
								<ul class="show-toggle-3">
									<li><a href="#">人工客服</a></li>
									<li><a href="#">QA</a></li>
								</ul>	
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- header-top-area-end -->
	<!-- header-bottom-area-start -->
	<div class="header-bottom-area bg-color-1 ptb-25">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
					<div class="logo">
						<a href="index.html"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="" /></a>
					</div>
				</div>
				<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
					<div class="header-bottom-middle">
						
						<div class="search-box">
							<form action="#">
								<select name="#" id="select">
									<option value="">商品/装修公司</option>
									<option value="43">装修公司</option>
									<option value="42">商品</option>
									<option value="41">---装修主材</option>
									<option value="42">---厨房用品</option>
									<option value="42">---卫浴用品</option>
									<option value="47">---灯饰照明</option>
									<option value="43">---全屋定制</option>
																		
								</select>
								<input type="text" placeholder="搜索...">
								<button><i class="fa fa-search"></i></button>
							</form>
						</div>								
					</div>
					<div class="header-bottom-right">
						<div class="left-cart">
							
						</div>
						<div class="shop-cart-area">
							<div class="top-cart-wrapper">
								<div class="block-cart">
									<div class="top-cart-title">
										<a href="#">
											<span class="title-cart">my cart</span>
											<span class="count-item">2 items</span>
											<span class="price">$444.00</span>
										</a>
									</div>
									<div class="top-cart-content">
										<ol class="mini-products-list">
											<!-- single item -->
											<li>
												<a class="product-image" href="product-details.html">
													<img alt="" src="{{url_for('static' , filename='img/cart/1.jpg') }}">
												</a>
												<div class="product-details">
													<p class="cartproduct-name">
														<a href="product-details.html">Pellentesque habitant </a>
													</p>
													<strong class="qty">qty:1</strong>
													<span class="sig-price">$222.00</span>
												</div>
												<div class="pro-action">
													<a class="btn-remove" href="#">remove</a>
												</div>
											</li>
											<!-- single item -->
											<!-- single item -->
											<li>
												<a class="product-image" href="product-details.html">
													<img alt="" src="{{ url_for('static', filename='img/cart/2.jpg') }}">
												</a>
												<div class="product-details">
													<p class="cartproduct-name">
														<a href="product-details.html">New catolog</a>
													</p>
													<strong class="qty">qty:1</strong>
													<span class="sig-price">$222.00</span>
												</div>
												<div class="pro-action">
													<a class="btn-remove" href="#">remove</a>
												</div>
											</li>
											<!-- single item -->

										</ol>
										<div class="top-subtotal">
											Subtotal: <span class="sig-price">$444.00</span>
										</div>
										<div class="cart-actions">
											<button><span>Checkout</span></button>
										</div>
									</div>											
								</div>
							</div>
						</div>
					</div>							
				</div>
			</div>
		</div>
	</div>	
	<!-- header-bottom-area-end -->
</header>																											<!-- header -->
<!-- mainmenu-area-start -->
<div class="mainmenu-area bg-color-2 hidden-xs hidden-sm">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3">
				<div class="mainmenu-left visible-lg  visible-md">
					<div class="product-menu-title">
						<h2>所有类别 <i class="fa fa-arrow-circle-down"></i></h2>
					</div>
					<div class="product_vmegamenu">
						<ul>
						     <li>
								<a href="#"><img src="{{ url_for('static' , filename='img/menu-l/1.png') }} " alt="" />  装修公司</a>
							</li>
							<li>
								<a href="#"><img src="{{ url_for('static' , filename='img/menu-l/2.png') }}" alt="" /> 装修主材</a>
							</li>
							<li>
								<a href="#"><img src="{{ url_for('static' , filename='img/menu-l/3.png') }}" alt="" />  厨房用品</a>
							</li>
							<li>
								<a href="#"><img src="{{ url_for('static' , filename='img/menu-l/4.png') }}" alt="" /> 卫浴用品 </a>
							</li>

							<li>
								<a href="#"><img src="{{ url_for('static' , filename='img/menu-l/5.png') }}" alt="" /> 灯饰照明</a>
							</li>
							<li>
								<a href="#"><img src="{{ url_for('static' , filename='img/menu-l/5.png') }}" alt="" /> 全屋定制</a>
							</li>
							<li>
								<a href="#"><img src="{{ url_for('static' , filename='img/menu-l/5.png') }}" alt=""/> 家用电器</a>
							</li>
						
						</ul>
					</div>
				</div>	
			</div>
			<div class="col-lg-9 col-md-9">
				<div class="mainmenu">
					<nav>
						<ul>
							<li><a href="index.html">商城首页</a></li>
							<li><a href="about.html">竞标任务</a></li>
							<li><a href="shop.html">推荐商品</a></li>
							<li><a href="cart.html">专家系统</a></li>							
							<li><a href="contact-us.html">联系我们</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- mainmenu-area-end -->
<!-- slider-area-start -->
<div class="slider-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 hidden-sm hidden-xs"></div>
			<div class="col-lg-6 col-md-6 col-sm-12">
				<div class="main-slider">
					<div class="slider-container">
						<!-- Slider Image -->
						<div id="mainSlider" class="nivoSlider slider-image">

							<img src="{{ url_for('static', filename='img/slider/1.jpg') }}" alt="" title="#htmlcaption1"> 
							<img src="{{ url_for('static', filename='img/slider/2.jpg') }}" alt="" title="#htmlcaption2"> 
						</div>
					</div>	
				</div>
				<div class="slider-product dotted-style-1 pt-30">
					<div class="slider-product-active">
						<div class="single-product single-product-sidebar white-bg">
							<div class="product-img product-img-left">
								<a href="#"><img src="{{ url_for('static' , filename='img/product/6.jpg') }}" alt="" /></a>  
							</div>
							<div class="product-content product-content-right">
								<div class="pro-title">
									<h4><a href="product-details.html">Lounge Chair</a></h4>
								</div>
								<div class="pro-rating ">
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star-o"></i></a>
								</div>
								<div class="price-box">
									<span class="price product-price">$444.00</span>
								</div>
								<div class="product-icon">
									<div class="product-icon-left f-left">
										<a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
									</div>
								</div>
							</div>					
						</div>	
						<div class="single-product single-product-sidebar white-bg">
							<div class="product-img product-img-left">
								<a href="#"><img src="{{ url_for('static' , filename='img/product/9.jpg') }}" alt="" /></a>
							</div>
							<div class="product-content product-content-right">
								<div class="pro-title">
									<h4><a href="product-details.html">imac</a></h4>
								</div>
								<div class="pro-rating ">
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star-o"></i></a>
								</div>
								<div class="price-box">
									<span class="price product-price">$300.00</span>
								</div>
								<div class="product-icon">
									<div class="product-icon-left f-left">
										<a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
									</div>
								</div>
							</div>					
						</div>							
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
				<div class="slider-sidebar">
					<div class="slider-single-img mb-20">
						<a href="#">
							<img class="img_a" src="{{ url_for('static' , filename='img/menu-l/1-1.jpg') }}" alt="" />
							<img class="img_b" src="{{ url_for('static' , filename='img/menu-l/1-1.jpg') }}" alt="" />
						</a>
					</div>
					<div class="slider-single-img none-sm">
						<a href="#">
					        <img class="img_a" src="{{ url_for('static' , filename='img/menu-l/1-2.jpg') }}" alt="" />
							<img class="img_b" src="{{ url_for('static' , filename='img/menu-l/1-2.jpg') }}" alt="" />
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- slider-area-end -->
<!-- electronic-tab-area-start -->
<div class="electronic-tab-area pt-60 pb-60">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="tab-title">
					<h2>预留广告位</h2>
				</div>
				<div class="tab-menu">
					<ul>
						<li class="active"><a href="#home" data-toggle="tab"><img src="{{ url_for('static' , filename='img/electronic/1.png') }}" alt="" />装修主材</a></li>
						<li><a href="#profile" data-toggle="tab"><img src="{{ url_for('static' , filename='img/electronic/2.png') }}" alt="" />厨房用品</a></li>
						<li><a href="#messages" data-toggle="tab"><img src="{{ url_for('static' , filename='img/electronic/3.png') }}" alt="" />卫浴用品</a></li>
						<li><a href="#settings" data-toggle="tab"><img src="{{ url_for('static' , filename='img/electronic/4.png') }}" alt="" />灯饰照明</a></li>
						<li><a href="#settings" data-toggle="tab"><img src="{{ url_for('static' , filename='img/electronic/4.png') }}" alt="" />全屋定制</a></li>
						<li><a href="#settings" data-toggle="tab"><img src="{{ url_for('static' , filename='img/electronic/4.png') }}" alt="" />家用电器</a></li>
					</ul>						
				</div>
			</div>
		</div>
		<div class="tab-content tab-content-item">
			<div class="tab-pane active" id="home">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pad">
						<div class="single-tab-img">
							<a href="#"><img src="{{ url_for('static' , filename='img/electronic/1.jpg') }}" alt="" /> alt="" /></a>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6  col-xs-12 pad">
						<div class="single-product pt-30 pb-20 white-bg">
							<div class="product-img pb-40">
								<a href="#"><img src="{{ url_for('static' , filename='img/product/1.jpg') }}" alt="" /></a>
							</div>
							<div class="product-content">
								<div class="pro-title">
									<h4><a href="product-details.html">Moebius Table</a></h4>
								</div>
								<div class="pro-rating ">
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star-o"></i></a>
								</div>
								<div class="price-box">
									<span class="price product-price">$262.00</span>
								</div>
								<div class="product-icon">
									<div class="product-icon-left f-left">
										<a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
									</div>
									
								</div>
							</div>
							<span class="new">new</span>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 padd-2 col-sm-12  col-xs-12 dotted-style-1">
						<div class="tab-product-active">
							<div class="together-single-product">
								<div class="single-product white-bg">
									<div class="product-img product-container-img">
										<a href="#"><img src="{{ url_for('static' , filename='img/product/2.jpg') }}" alt="" /></a>
									</div>
									<div class="product-content product-i">
										<div class="pro-title">
											<h4><a href="product-details.html">Lounge Chair Cinema </a></h4>
										</div>
										<div class="pro-rating ">
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star-o"></i></a>
										</div>
										<div class="price-box">
											<span class="price product-price">$210.00</span>
											<span class="price-2"><del>$230.00</del></span>
										</div>
										<div class="product-icon">
											<div class="product-icon-left f-left">
												<a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
											</div>
											
										</div>
									</div>
									<span class="new">new</span>
								</div>
								<div class="single-product white-bg">
									<div class="product-img product-container-img">
										<a href="#"><img src="{{ url_for('static' , filename='img/product/3.jpg') }}" alt="" /></a>
									</div>
									<div class="product-content product-i">
										<div class="pro-title">
											<h4><a href="product-details.html">iPhone</a></h4>
										</div>
										<div class="pro-rating ">
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
										</div>
										<div class="price-box">
											<span class="price product-price">$100.00</span>
										</div>
										<div class="product-icon">
											<div class="product-icon-left f-left">
												<a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
											</div>
											<div class="product-icon-right floatright">
												<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
												<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
											</div>
										</div>
									</div>
									<span class="sale">sale</span>
								</div>										
							</div>
							<div class="together-single-product">
								<div class="single-product white-bg">
									<div class="product-img product-container-img">
										<a href="#"><img src="{{ url_for('static' , filename='img/product/4.jpg') }}" alt="" /></a>
									</div>
									<div class="product-content product-i">
										<div class="pro-title">
											<h4><a href="product-details.html">iMac</a></h4>
										</div>
										<div class="pro-rating ">
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star-o"></i></a>
										</div>
										<div class="price-box">
											<span class="price product-price">$120.00</span>
											<span class="price-2"><del>$300.00</del></span>
										</div>
										<div class="product-icon">
											<div class="product-icon-left f-left">
												<a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
											</div>
											<div class="product-icon-right floatright">
												<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
												<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
											</div>
										</div>
									</div>
								</div>
								<div class="single-product white-bg">
									<div class="product-img product-container-img">
										<a href="#"><img src="{{ url_for('static' , filename='img/product/5.jpg') }}" alt="" /></a>
									</div>
									<div class="product-content product-i">
										<div class="pro-title">
											<h4><a href="product-details.html">Footstool</a></h4>
										</div>
										<div class="pro-rating ">
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
										</div>
										<div class="price-box">
											<span class="price product-price">$70.00</span>
											<span class="price-2"><del>$100.00</del></span>
										</div>
										<div class="product-icon">
											<div class="product-icon-left f-left">
												<a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
											</div>
											<div class="product-icon-right floatright">
												<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
												<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
											</div>
										</div>
									</div>
									<span class="new">new</span>
								</div>										
							</div>
							<div class="together-single-product">
								<div class="single-product white-bg">
									<div class="product-img product-container-img">
										<a href="#"><img src="{{ url_for('static' , filename='img/product/6.jpg') }}" alt="" /></a>
									</div>
									<div class="product-content product-i">
										<div class="pro-title">
											<h4><a href="product-details.html">Lounge Chair Cinema </a></h4>
										</div>
										<div class="pro-rating ">
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star-o"></i></a>
										</div>
										<div class="price-box">
											<span class="price product-price">$300.00</span>
										</div>
										<div class="product-icon">
											<div class="product-icon-left f-left">
												<a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
											</div>
											<div class="product-icon-right floatright">
												<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
												<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
											</div>
										</div>
									</div>
									<span class="sale">sale</span>
								</div>
								<div class="single-product white-bg">
									<div class="product-img product-container-img">
										<a href="#"><img src="img/product/7.jpg" alt="" /></a>
									</div>
									<div class="product-content product-i">
										<div class="pro-title">
											<h4><a href="product-details.html">iPhone</a></h4>
										</div>
										<div class="pro-rating ">
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
										</div>
										<div class="price-box">
											<span class="price product-price">$100.00</span>
										</div>
										<div class="product-icon">
											<div class="product-icon-left f-left">
												<a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
											</div>
											<div class="product-icon-right floatright">
												<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
												<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
											</div>
										</div>
									</div>
									<span class="sale">sale</span>
								</div>										
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="profile">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pad">
						<div class="single-tab-img">
							<a href="#"><img src="img/electronic/1.jpg" alt="" /></a>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pad">
						<div class="single-product pt-30 pb-20 white-bg">
							<div class="product-img pb-40">
								<a href="#"><img src="img/product/3.jpg" alt="" /></a>
							</div>
							<div class="product-content">
								<div class="pro-title">
									<h4><a href="product-details.html">Moebius Table</a></h4>
								</div>
								<div class="pro-rating ">
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star-o"></i></a>
								</div>
								<div class="price-box">
									<span class="price product-price">$262.00</span>
								</div>
								<div class="product-icon">
									<div class="product-icon-left f-left">
										<a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
									</div>
									<div class="product-icon-right floatright">
										<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
										<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
									</div>
								</div>
							</div>
							<span class="new">new</span>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 padd-2 col-sm-12 col-xs-12 dotted-style-1">
						<div class="tab-product-active">
							<div class="together-single-product">
								<div class="single-product white-bg">
									<div class="product-img product-container-img">
										<a href="#"><img src="img/product/7.jpg" alt="" /></a>
									</div>
									<div class="product-content product-i">
										<div class="pro-title">
											<h4><a href="product-details.html">MacBook</a></h4>
										</div>
										<div class="pro-rating ">
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
										</div>
										<div class="price-box">
											<span class="price product-price">$290.00</span>
											<span class="price-2"><del>$330.00</del></span>
										</div>
										<div class="product-icon">
											<div class="product-icon-left f-left">
												<a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
											</div>
											<div class="product-icon-right floatright">
												<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
												<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
											</div>
										</div>
									</div>
									<span class="new">new</span>
								</div>
								<div class="single-product white-bg">
									<div class="product-img product-container-img">
										<a href="#"><img src="img/product/3.jpg" alt="" /></a>
									</div>
									<div class="product-content product-i">
										<div class="pro-title">
											<h4><a href="product-details.html">iPhone</a></h4>
										</div>
										<div class="pro-rating ">
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
										</div>
										<div class="price-box">
											<span class="price product-price">$100.00</span>
										</div>
										<div class="product-icon">
											<div class="product-icon-left f-left">
												<a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
											</div>
											<div class="product-icon-right floatright">
												<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
												<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
											</div>
										</div>
									</div>
									<span class="sale">sale</span>
								</div>										
							</div>
							<div class="together-single-product">
								<div class="single-product white-bg">
									<div class="product-img product-container-img">
										<a href="#"><img src="img/product/10.jpg" alt="" /></a>
									</div>
									<div class="product-content product-i">
										<div class="pro-title">
											<h4><a href="product-details.html">Loudspeaker</a></h4>
										</div>
										<div class="pro-rating ">
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
										</div>
										<div class="price-box">
											<span class="price product-price">$120.00</span>
										</div>
										<div class="product-icon">
											<div class="product-icon-left f-left">
												<a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
											</div>
											<div class="product-icon-right floatright">
												<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
												<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
											</div>
										</div>
									</div>
								</div>
								<div class="single-product white-bg">
									<div class="product-img product-container-img">
										<a href="#"><img src="img/product/5.jpg" alt="" /></a>
									</div>
									<div class="product-content product-i">
										<div class="pro-title">
											<h4><a href="product-details.html">Footstool</a></h4>
										</div>
										<div class="pro-rating ">
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
										</div>
										<div class="price-box">
											<span class="price product-price">$70.00</span>
											<span class="price-2"><del>$100.00</del></span>
										</div>
										<div class="product-icon">
											<div class="product-icon-left f-left">
												<a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
											</div>
											<div class="product-icon-right floatright">
												<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
												<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
											</div>
										</div>
									</div>
									<span class="new">new</span>
								</div>										
							</div>
							<div class="together-single-product">
								<div class="single-product white-bg">
									<div class="product-img product-container-img">
										<a href="#"><img src="img/product/6.jpg" alt="" /></a>
									</div>
									<div class="product-content product-i">
										<div class="pro-title">
											<h4><a href="product-details.html">Lounge Chair Cinema </a></h4>
										</div>
										<div class="pro-rating ">
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star-o"></i></a>
										</div>
										<div class="price-box">
											<span class="price product-price">$300.00</span>
										</div>
										<div class="product-icon">
											<div class="product-icon-left f-left">
												<a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
											</div>
											<div class="product-icon-right floatright">
												<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
												<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
											</div>
										</div>
									</div>
									<span class="sale">sale</span>
								</div>
								<div class="single-product white-bg">
									<div class="product-img product-container-img">
										<a href="#"><img src="img/product/7.jpg" alt="" /></a>
									</div>
									<div class="product-content product-i">
										<div class="pro-title">
											<h4><a href="product-details.html">iPhone</a></h4>
										</div>
										<div class="pro-rating ">
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
										</div>
										<div class="price-box">
											<span class="price product-price">$100.00</span>
										</div>
										<div class="product-icon">
											<div class="product-icon-left f-left">
												<a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
											</div>
											<div class="product-icon-right floatright">
												<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
												<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
											</div>
										</div>
									</div>
									<span class="sale">sale</span>
								</div>										
							</div>
						</div>
					</div>
				</div>					
			</div>
			<div class="tab-pane" id="messages">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pad">
						<div class="single-tab-img">
							<a href="#"><img src="img/electronic/1.jpg" alt="" /></a>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pad">
						<div class="single-product pt-30 pb-20 white-bg">
							<div class="product-img pb-40">
								<a href="#"><img src="img/product/5.jpg" alt="" /></a>
							</div>
							<div class="product-content">
								<div class="pro-title">
									<h4><a href="product-details.html">Moebius Table</a></h4>
								</div>
								<div class="pro-rating ">
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star-o"></i></a>
								</div>
								<div class="price-box">
									<span class="price product-price">$262.00</span>
								</div>
								<div class="product-icon">
									<div class="product-icon-left f-left">
										<a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
									</div>
									<div class="product-icon-right floatright">
										<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
										<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
									</div>
								</div>
							</div>
							<span class="new">new</span>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 padd-2 col-sm-12 col-xs-12 dotted-style-1">
						<div class="tab-product-active">
							<div class="together-single-product">
								<div class="single-product white-bg">
									<div class="product-img product-container-img">
										<a href="#"><img src="img/product/11.jpg" alt="" /></a>
									</div>
									<div class="product-content product-i">
										<div class="pro-title">
											<h4><a href="product-details.html">Samsung Y8</a></h4>
										</div>
										<div class="pro-rating ">
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star-o"></i></a>
										</div>
										<div class="price-box">
											<span class="price product-price">$210.00</span>
											<span class="price-2"><del>$230.00</del></span>
										</div>
										<div class="product-icon">
											<div class="product-icon-left f-left">
												<a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
											</div>
											<div class="product-icon-right floatright">
												<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
												<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
											</div>
										</div>
									</div>
									<span class="new">new</span>
								</div>
								<div class="single-product white-bg">
									<div class="product-img product-container-img">
										<a href="#"><img src="img/product/3.jpg" alt="" /></a>
									</div>
									<div class="product-content product-i">
										<div class="pro-title">
											<h4><a href="product-details.html">iPhone</a></h4>
										</div>
										<div class="pro-rating ">
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
										</div>
										<div class="price-box">
											<span class="price product-price">$100.00</span>
										</div>
										<div class="product-icon">
											<div class="product-icon-left f-left">
												<a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
											</div>
											<div class="product-icon-right floatright">
												<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
												<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
											</div>
										</div>
									</div>
									<span class="sale">sale</span>
								</div>										
							</div>
							<div class="together-single-product">
								<div class="single-product white-bg">
									<div class="product-img product-container-img">
										<a href="#"><img src="img/product/4.jpg" alt="" /></a>
									</div>
									<div class="product-content product-i">
										<div class="pro-title">
											<h4><a href="product-details.html">iMac</a></h4>
										</div>
										<div class="pro-rating ">
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star-o"></i></a>
										</div>
										<div class="price-box">
											<span class="price product-price">$120.00</span>
											<span class="price-2"><del>$300.00</del></span>
										</div>
										<div class="product-icon">
											<div class="product-icon-left f-left">
												<a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
											</div>
											<div class="product-icon-right floatright">
												<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
												<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
											</div>
										</div>
									</div>
								</div>
								<div class="single-product white-bg">
									<div class="product-img product-container-img">
										<a href="#"><img src="img/product/5.jpg" alt="" /></a>
									</div>
									<div class="product-content product-i">
										<div class="pro-title">
											<h4><a href="product-details.html">Footstool</a></h4>
										</div>
										<div class="pro-rating ">
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
										</div>
										<div class="price-box">
											<span class="price product-price">$70.00</span>
											<span class="price-2"><del>$100.00</del></span>
										</div>
										<div class="product-icon">
											<div class="product-icon-left f-left">
												<a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
											</div>
											<div class="product-icon-right floatright">
												<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
												<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
											</div>
										</div>
									</div>
									<span class="new">new</span>
								</div>										
							</div>
							<div class="together-single-product">
								<div class="single-product white-bg">
									<div class="product-img product-container-img">
										<a href="#"><img src="img/product/6.jpg" alt="" /></a>
									</div>
									<div class="product-content product-i">
										<div class="pro-title">
											<h4><a href="product-details.html">Lounge Chair Cinema </a></h4>
										</div>
										<div class="pro-rating ">
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star-o"></i></a>
										</div>
										<div class="price-box">
											<span class="price product-price">$300.00</span>
										</div>
										<div class="product-icon">
											<div class="product-icon-left f-left">
												<a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
											</div>
											<div class="product-icon-right floatright">
												<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
												<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
											</div>
										</div>
									</div>
									<span class="sale">sale</span>
								</div>
								<div class="single-product white-bg">
									<div class="product-img product-container-img">
										<a href="#"><img src="img/product/7.jpg" alt="" /></a>
									</div>
									<div class="product-content product-i">
										<div class="pro-title">
											<h4><a href="product-details.html">iPhone</a></h4>
										</div>
										<div class="pro-rating ">
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
										</div>
										<div class="price-box">
											<span class="price product-price">$100.00</span>
										</div>
										<div class="product-icon">
											<div class="product-icon-left f-left">
												<a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
											</div>
											<div class="product-icon-right floatright">
												<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
												<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
											</div>
										</div>
									</div>
									<span class="sale">sale</span>
								</div>										
							</div>
						</div>
					</div>
				</div>					
			</div>
			<div class="tab-pane" id="settings">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pad">
						<div class="single-tab-img">
							<a href="#"><img src="img/electronic/1.jpg" alt="" /></a>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pad">
						<div class="single-product pt-30 pb-20 white-bg">
							<div class="product-img pb-40">
								<a href="#"><img src="img/product/3.jpg" alt="" /></a>
							</div>
							<div class="product-content">
								<div class="pro-title">
									<h4><a href="product-details.html">Moebius Table</a></h4>
								</div>
								<div class="pro-rating ">
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star"></i></a>
									<a href="#"><i class="fa fa-star-o"></i></a>
								</div>
								<div class="price-box">
									<span class="price product-price">$262.00</span>
								</div>
								<div class="product-icon">
									<div class="product-icon-left f-left">
										<a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
									</div>
									<div class="product-icon-right floatright">
										<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
										<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
									</div>
								</div>
							</div>
							<span class="new">new</span>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 padd-2 col-sm-12 col-xs-12 dotted-style-1">
						<div class="tab-product-active">
							<div class="together-single-product">
								<div class="single-product white-bg">
									<div class="product-img product-container-img">
										<a href="#"><img src="img/product/2.jpg" alt="" /></a>
									</div>
									<div class="product-content product-i">
										<div class="pro-title">
											<h4><a href="product-details.html">Lounge Chair Cinema </a></h4>
										</div>
										<div class="pro-rating ">
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star-o"></i></a>
										</div>
										<div class="price-box">
											<span class="price product-price">$210.00</span>
											<span class="price-2"><del>$230.00</del></span>
										</div>
										<div class="product-icon">
											<div class="product-icon-left f-left">
												<a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
											</div>
											<div class="product-icon-right floatright">
												<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
												<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
											</div>
										</div>
									</div>
									<span class="new">new</span>
								</div>
								<div class="single-product white-bg">
									<div class="product-img product-container-img">
										<a href="#"><img src="img/product/3.jpg" alt="" /></a>
									</div>
									<div class="product-content product-i">
										<div class="pro-title">
											<h4><a href="product-details.html">iPhone</a></h4>
										</div>
										<div class="pro-rating ">
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
										</div>
										<div class="price-box">
											<span class="price product-price">$100.00</span>
										</div>
										<div class="product-icon">
											<div class="product-icon-left f-left">
												<a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
											</div>
											<div class="product-icon-right floatright">
												<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
												<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
											</div>
										</div>
									</div>
									<span class="sale">sale</span>
								</div>										
							</div>
							<div class="together-single-product">
								<div class="single-product white-bg">
									<div class="product-img product-container-img">
										<a href="#"><img src="img/product/4.jpg" alt="" /></a>
									</div>
									<div class="product-content product-i">
										<div class="pro-title">
											<h4><a href="product-details.html">iMac</a></h4>
										</div>
										<div class="pro-rating ">
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star-o"></i></a>
										</div>
										<div class="price-box">
											<span class="price product-price">$120.00</span>
											<span class="price-2"><del>$300.00</del></span>
										</div>
										<div class="product-icon">
											<div class="product-icon-left f-left">
												<a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
											</div>
											<div class="product-icon-right floatright">
												<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
												<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
											</div>
										</div>
									</div>
								</div>
								<div class="single-product white-bg">
									<div class="product-img product-container-img">
										<a href="#"><img src="img/product/5.jpg" alt="" /></a>
									</div>
									<div class="product-content product-i">
										<div class="pro-title">
											<h4><a href="product-details.html">Footstool</a></h4>
										</div>
										<div class="pro-rating ">
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
										</div>
										<div class="price-box">
											<span class="price product-price">$70.00</span>
											<span class="price-2"><del>$100.00</del></span>
										</div>
										<div class="product-icon">
											<div class="product-icon-left f-left">
												<a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
											</div>
											<div class="product-icon-right floatright">
												<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
												<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
											</div>
										</div>
									</div>
									<span class="new">new</span>
								</div>										
							</div>
							<div class="together-single-product">
								<div class="single-product white-bg">
									<div class="product-img product-container-img">
										<a href="#"><img src="img/product/6.jpg" alt="" /></a>
									</div>
									<div class="product-content product-i">
										<div class="pro-title">
											<h4><a href="product-details.html">Lounge Chair Cinema </a></h4>
										</div>
										<div class="pro-rating ">
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star-o"></i></a>
										</div>
										<div class="price-box">
											<span class="price product-price">$300.00</span>
										</div>
										<div class="product-icon">
											<div class="product-icon-left f-left">
												<a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
											</div>
											<div class="product-icon-right floatright">
												<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
												<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
											</div>
										</div>
									</div>
									<span class="sale">sale</span>
								</div>
								<div class="single-product white-bg">
									<div class="product-img product-container-img">
										<a href="#"><img src="img/product/7.jpg" alt="" /></a>
									</div>
									<div class="product-content product-i">
										<div class="pro-title">
											<h4><a href="product-details.html">iPhone</a></h4>
										</div>
										<div class="pro-rating ">
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
											<a href="#"><i class="fa fa-star"></i></a>
										</div>
										<div class="price-box">
											<span class="price product-price">$100.00</span>
										</div>
										<div class="product-icon">
											<div class="product-icon-left f-left">
												<a href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
											</div>
											<div class="product-icon-right floatright">
												<a href="#" data-toggle="tooltip" title="Compare"><i class="fa fa-exchange"></i></a>
												<a href="#" data-toggle="tooltip" title="Wishlist"><i class="fa fa-heart"></i></a>
											</div>
										</div>
									</div>
									<span class="sale">sale</span>
								</div>										
							</div>
						</div>
					</div>
				</div>						
			</div>
		</div>
	</div>
</div>
<!-- copyright-area-start -->
<div class="copyright-area text-center bg-color-3">
	<div class="container"> 
		<div class="copyright-border ptb-30">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="copyright text-left">
						<p>Copyright &copy; 2017.Company name All rights reserved.</p>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="payment text-right">
						<a href="#"><img src="img/payment.png" alt="" /></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- copyright-area-end -->

<!-- all js here -->
<!-- jquery-1.12.0 -->

<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

<script src="{{ url_for('static', filename='js/vendor/jquery-1.12.0.min.js') }}"></script>  
<!-- bootstrap.min.js -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> 

<script src="{{ url_for('static', filename='js/jquery.nivo.slider.pack.js') }}"></script>  
<!-- jquery-ui.min.js -->
<script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>   
<!-- jquery.magnific-popup.min.js -->
<script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>        
<!-- jquery.meanmenu.min.js -->
<script src="{{ url_for('static', filename='js/jquery.meanmenu.js') }}"></script>               
<!-- jquery.scrollup.min.js-->
<script src="{{ url_for('static', filename='js/jquery.scrollup.min.js') }}"></script>      
<!-- owl.carousel.min.js -->
<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>		     
<!-- plugins.js -->
<script src="{{ url_for('static', filename='js/plugins.js') }}"></script>      
<!-- main.js -->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>     
</body>
</html>