<% include header.html %>
		<div class="breadcrumb-area">
			<div class="container">
				<ol class="breadcrumb">
				  <li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
				  <li class="active">Login</li>
				</ol>			
			</div>
		</div>
		<!-- breadcrumb end -->	
		<!-- account area start -->
		<div class="account-area pt-30 log">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-lg-6 col-sm-6">
						<div class="account-info pb-30">
							<form method="post" action="">
								<div class="form-fields">
									<h2>Login</h2>
									<p>
										<label>
											email address
											<span class="required">*</span>
										</label>
										{{ form.email(placeholder="email") }}
									</p>
									<p>
										<label>
											Password
											<span class="required">*</span>
										</label>
										{{ form.password(placeholder="password") }}
									</p>
								</div>
								<div class="form-action">
									<label>
									<a href="#" class="lost_password">Lost your password?</a>								
										<input type="checkbox">
										Remember me
									</label>								
									<input value="Login" type="submit">
								</div>								
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<% include footer.html %>
		
		<% include social.html %>

