{% extends "base.html" %}

{% block title %}LOGIN IN{% endblock %}

{% block page_content %}
		<div class="breadcrumb-area">
			<div class="container">
				<ol class="breadcrumb">
				  <li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
				  <li class="active">Login</li>
				</ol>			
			</div>
		</div>
		

		<div class="account-area pt-30 log">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-lg-6 col-sm-6" style="
    margin-left: 25%;">
						<div class="account-info pb-30 am-tabs" data-am-tabs>
							
									<ul class="am-avg-sm-2 am-tabs-nav am-nav am-nav-tabs" style="max-width:100%;width:100%">
  								<li class="am-active" style="font-size:20px;">
  									<a href="#">
  										<span class="index-needs-dt-txt">LOGIN</span></a>
  								</li>
                  <li style="font-size:20px;" >
                    <a href="#">
                      <span class="index-needs-dt-txt">REGISTER</span></a>
                  </li>
  							</ul>



  							<div class="am-tabs-bd">
                  <div class="am-tab-panel am-fade am-in am-active">
  									<div class="J_Brand">
  										<form method="post" action="">
								<div class="form-fields">
  										<div class="attr-list-hd tm-clear" style="margin-top:20px">
  											<p>
										<label>
											Email Address
											<span class="required">*</span>
										</label>
										{{ form.email(placeholder="email") }}
									</p>
									<p>
										<label>
											Password
											<span class="required">*</span>
										</label>
										{{ form.password(placeholder="password") }}
									</p>
									<div class="form-action">
									<label>
									<a href="#" class="lost_password">Lost your password?</a>								
										<input type="checkbox">
										Remember Me
									</label>								
									<input value="Login" type="submit">

								</div>	
                      					</div>
                      					</div>
															
							</form>
  										<div class="clear"></div>

  										<div class="clear"></div>
  									</div>
  									<div class="clear"></div>
  							</div>

  					

  							<div class="am-tab-panel am-fade">
  									
							<div class="J_Brand">
  										<form method="post" action="">
								<div class="form-fields">
  										<div class="attr-list-hd tm-clear" style="margin-top:20px">
  											<p>
										<label>
											Email Address
											<span class="required">*</span>
										</label>
										{{ form.email(placeholder="email") }}
									</p>
  											<p>
										<label>
											User Name
											<span class="required">*</span>
										</label>
										{{ form.email(placeholder="user name") }}
									</p>
									
									<p>
										<label>
											Password
											<span class="required">*</span>
										</label>
										{{ form.password(placeholder="password") }}
									</p>
									<p>
										<label>
											Confirm Password
											<span class="required">*</span>
										</label>
										{{ form.password(placeholder="confirm password") }}
									</p>
									<div class="form-action">
									<input type="checkbox" value="forever" id="rememberme" name="rememberme">
									<label class="inline" for="rememberme">I agree <a href="#">Terms & Condition</a></label>	
									<input value="REGISTER" type="submit">

								</div>	
                      					</div>
                      					</div>
															
							</form>
  										<div class="clear"></div>

  										<div class="clear"></div>
  									</div>
  									<div class="clear"></div>


  								</div>					
						</div>
					</div>
				</div>
			</div>
		</div>
	
{% endblock %}

